<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/8f23031e-aece-4e92-bc33-d1a49fe72d36/resourceGroups/FitSixes/providers/Microsoft.Web/sites/sensornetworks</ResourceId>
    <ResourceGroup>FitSixes</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://sensornetworks.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>sensornetworks.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>sensornetworks</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$sensornetworks</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:sensornetworks.database.windows.net,1433;Initial Catalog=SensorNetworkDB;User ID=chandimacpgz@sensornetworks.database.windows.net;Password=Chandima124133K" Name="Data Source=tcp:sensornetworks.database.windows.net,1433;Initial Catalog=SensorNetworkDB;User Id=chandimacpgz@sensornetworks.database.windows.net;Password=Chandima124133K;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=NINJA;Initial Catalog=SensorNetworkDB;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=NINJA;Initial Catalog=SensorNetworkDB;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:sensornetworks.database.windows.net,1433;Initial Catalog=SensorNetworkDB;User Id=chandimacpgz@sensornetworks.database.windows.net;Password=Chandima124133K;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>